<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>Comparsa Union Paz 2026 - Algo grande se acerca!</title>
		<meta
			name="description"
			content="Comparsa Union Paz 2026 - Algo grande se acerca!"
		/>
		<meta
			name="keywords"
			content="Comparsa Union Paz 2026, Algo grande se acerca!"
		/>
		<meta name="author" content="Jose I Toledano M" />
	</head>
	<body class="min-h-screen text-white relative">
		<div
			class="fixed inset-0 -z-10 bg-[url('/background.png')] bg-cover bg-center blur-md"
		>
		</div>
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
